@model IEnumerable<personapi_dotnet.Models.Entities.Telefono>

@{
    ViewData["Title"] = "Index";
}

<h1>Telefonos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Registrar telefono</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Numero
            </th>
            <th>
                Operador
            </th>
            <th>
                Dueño
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuenioNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Num" class="btn btn-primary">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Num" class="btn btn-info">Detalles</a> 
                <a asp-action="Delete" asp-route-id="@item.Num" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
